@model List<Product>

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h4 class="text-white py-2 text-uppercase">Product List</h4>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row">
            <div class="col-md-6 p-0">
            </div>
             <div class="col-md-6 text-end">
                  <a asp-controller="Product" asp-action="Upsert" class="btn btn-outline-info"><i class="bi bi-plus-circle"></i> Create Product</a>
             </div>
        </div>
        <div class="row pt-4">
            <table class="table table-bordered table-striped" id="mytable">
                <thead>
                     <tr>
                         <th>Title</th>
                         <th>ISBN</th>
                         <th>Author</th>
                         <th>List Price</th>
                         <th>Price</th>
                         <th>Category</th>
                         <th>#</th>
                     </tr>
                </thead>

            </table>
        </div>
    </div>
</div>
 <div class="p-4 m-4"></div>
@section Scripts{
    <script src="~/js/product.js"></script>
    @{
    <partial name="_ValidationScriptsPartial"/>
    }
}
